.content {
    position: relative;
    padding: 5px;
    .row-title {
        font-weight: bold;
    }
    .title-head {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        background: #dc3545;
        .title-text {
            color: #fff;
            margin-top: 10px;
        }
    }
    .block-content {
        position: relative;
        height: auto;
        min-height: 100px;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        .title-text {
            color: #000;
        }
        margin-top: 10px;
    }
    .block-input {
        position: relative;
        width: 100% !important;
        top: 5px;
    }
}

.box-action-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.headerColumn {
    color: #fff;
    background: #dc3545;
}
.content-wrapper-custom {
    width: 100%;
    min-height: 1050px;
    // overflow-x: hidden;
    // overflow-y: auto;
}
.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 888888;
}
.video-custom {
    background: #000;
    border-radius: 15px;
    width: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

@media only screen and (max-width: 600px) {
    .video-custom {
        background: #000;
        border-radius: 15px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg); /* Safari and Chrome */
        -moz-transform: rotateY(180deg); /* Firefox */
    }
}
.img-face-custom {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    border-radius: 50px;
    margin-bottom: 10px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}
.indexedStep {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexedStep.accomplished {
    background-color: rgba(0, 116, 217, 1);
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.score-res {
    margin-top: 100px;
    font-weight: bold;
    font-size: 30px;
    color: red;
    text-align: center;
}

.loading-custom {
    position: fixed;
    background: #fff;
    border-radius: 10px;
    width: 300px;
    height: 220px;
    /* display: flex; */
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    border: 1px solid #ccc;
    top: 40%;
    p {
        text-align: center;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

#blueEllipse {
    transform-origin: center;
    animation: rotateBlue 1.5s linear infinite;
}

@keyframes rotateBlue {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
    }
}

#successEllipse {
    transform-origin: center;
    animation: rotateSuccess 1.5s linear infinite;
}

@keyframes rotateSuccess {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.02, 1.02);
    }
    100% {
        transform: scale(1, 1);
    }
}

.custom-toogle {
    font-size: 18px;
}

.canvas-generic {
    width: 80%;
    height: 210px;
    border-radius: 10px;
}
.canvas-mirror {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.box-3d-custom {
    position: absolute;
    top: 55px;
    right: -90px;
}
